@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

h1, h2, h3, h4, h5 {
	font-family: 'Audiowide';
	padding: 6px;
}

div {
	font-family: 'Audiowide';
}

table {
	border-collapse: separate;
	border-spacing: 3px 15px
}

tr {
	padding: 3px
}

td {
	font-size: 20px;
}

div.sheet-sec {
	font: 15px;
	background-color: lightgrey;
	border-style: double;
	border-color: black;
	text-align: center;
}

div.sheet-sec-name-column {
	float: left;
	font: 13px;
	background-color: lightgrey;
	border-style: double;
	border-color: black;
	text-align: center;
	min-height: 130px;
}

div.sheet-sec-definer-column {
	float: right;
	font: 15px;
	background-color: lightgrey;
	border-style: double;
	border-color: black;
	text-align: center;
	min-height: 150px;
	max-width: 650px
}

div.sheet-sec-column {
	float: left;
	font: 15px;
	background-color: lightgrey;
	border-style: double;
	border-color: black;
	text-align: center;
}

input.sheet-name_field {
	text-align: center;
	font-family: 'Audiowide';
	border:none;
	border-bottom: 1px solid black;
	outline: none;
	background-color: white;
	font-size: 18px;
}

input.sheet-text_field {
	text-align: center;
	font-family: 'Audiowide';
	border:none;
	border-bottom: 1px solid black;
	outline: none;
	background: white;
	font-size: 18px;
	max-width: 200px
}

table.sheet-stats {
	float: left;
	background-color: lightgrey;
	border-style: double;
	border-color: black;
	text-align: center;
}

td.sheet-stats_block {
	border: 2px solid black;
	background-color: white;
	font-size: 12px;
}

input.sheet-stat_field {
	text-align: center;
	font-family: 'Audiowide';
	border: 1px solid black;
	background: white;
	font-size: 16px;
	max-width: 50px;
	padding: 3px
}

table.sheet-saving_throws_and_skills {
	float: left;
	min-width: 200px
}

td.sheet-saving_throws_and_skills {
	background-color: lightgrey;
	border-style: double;
	border-color: black;
	text-align: center;
	font-size: 18px;
	min-width: 300px
}

input[type="checkbox"] {
	filter: grayscale(1);
}

ul {
	text-align: center;
	float: left
}

li {
	font-size: 15px;
	list-style: none;
	padding: 10px;
	align: left
}

button.sheet-check {
	background: none;
	background-image: none;
	border: none;
	max-height: 10px;
	max-width: 10px;
	content: "l";
}
