@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

h1, h2, h3, h4, h5 {
	padding: 6px;
	text-align: center
}

* {
	font-family: "Audiowide"
}

table {
	border-collapse: separate;
	border-spacing: 15px 15px;
}

td {
	font-size: 15px;
}

td.sheet-logo {
	background-color: lightgrey;
	border-style: double;
	text-align: center;
	min-width: 1000px
}

td.sheet-character_name {
	background-color: lightgrey;
	border-style: double;
	text-align: center;
}

td.sheet-definers {
	background-color: lightgrey;
	border-style: double;
	text-align: center;
}

input.sheet-name_field {
	text-align: center;
	font-family: 'Audiowide';
	border:none;
	border-bottom: 1px solid black;
	outline: none;
	background-color: white;
	font-size: 18px;
}

input.sheet-text_field {
	text-align: center;
	font-family: 'Audiowide';
	border:none;
	border-bottom: 1px solid black;
	outline: none;
	background: white;
	font-size: 18px;
	max-width: 200px;
	padding: 5px
}

table.sheet-stats {
	float: left;
	background-color: lightgrey;
	border-style: double;
	border-color: black;
	text-align: center;
	font-size: 18px;
	border-collapse: separate;
	border-spacing: 15px 15px;
}

td.sheet-stats_block {
	border: 2px solid black;
	background-color: white;
	font-size: 18px;
}

input.sheet-stat_field {
	text-align: center;
	font-family: 'Audiowide';
	border: 1px solid black;
	background: white;
	font-size: 16px;
	max-width: 50px;
	padding: 3px
}

table.sheet-saving_throws_and_skills {
	float: left;
	min-width: 200px
}

td.sheet-saving_throws_and_skills {
	background-color: lightgrey;
	border-style: double;
	border-color: black;
	font-size: 18px;
	min-width: 260px
}

input[type="checkbox"] {
	filter: grayscale(1);
}

li {
	font-size: 15px;
	list-style: none;
	padding: 10px;
	align: left
}

button.sheet-check {
	background: none;
	background-image: none;
	border: none;
	max-height: 20px;
	max-width: 100px;
	text-align: center;
}

button.sheet-initiative {
	background: none;
	background-image: none;
	border: none;
	max-height: 20px;
	max-width: 100px;
	text-align: center;
	font-weight: bold;
}

td.sheet-passive_perception {
	border: double black;
	background-color: lightgrey;
	align: left;
	font-size: 18px;
	padding: 3px
}

input.sheet-initiative_armour_speed_prof_field {
	border: none;
	bottom-border: 1px solid black;
	text-align: center;
	font-size: 15px;
	max-width: 60px
}

table.sheet-initiative_armour_speed_prof {
	border-collapse: separate;
	border-spacing: 15px 20px;
}

td.sheet-initiative_armour_speed_prof {
	border: double black;
	background-color: lightgrey;
	font-size: 12px;
	text-align: center;
	padding: 10px;
	min-height: 60px;
	max-width: 200px;
	max-height: 125px;
}

td.sheet-info_td {
	border: double black;
	background-color: lightgrey;
	font-size: 14px;
	text-align: center;
	padding: 10px;
}

td.sheet-formtable {
	border: double black;
	background-color: lightgrey;
}

input.sheet-weapontitle {
	width: 100%;
	border-bottom: 2px solid black;
	font-size: 18px;
	text-align: center
}

table.sheet-formtable {
	border-collapse: separate;
	border-spacing: 20px 3px;
}

div.sheet-weapon_row {
	margin: 10px;
}

span.sheet-weapon_column {
	margin-right: 10px;
	margin-left: 20px
}

input.sheet-toggle_weapon:not(:checked) ~ span {
	display: none;
}

select {
	max-width: 120px;
}

button.sheet-attackbutton::before {
	font-family: "dicefontd20";
	content: "D";
}

button.sheet-attackbutton {
	min-width: 30px;
	min-height: 30px;
	border: 2px solid red;
	font-family: "Audiowide";
}

div.sheet-resource {
	text-align: center;
	font-size: 20px;
}

td.sheet-features_and_traits_text {
	font-size: 18px
}

div.sheet-equipment {
	font-size: 18px
}

textarea {
	min-width: 80%;
}
